<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chat room</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
</head>
<body>
  <div class="chat-room">
    <h1>Welcome coming chat room</h1>
    <textarea id="content" disabled="true"></textarea>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input"/>
    </div>
  </div>
</body>
</html>
