* {padding:0px; margin:0px;}
body{font-family:tahoma; font-size:12px;margin:10px;}
p {line-height:18px;padding:2px;}
div {width:500px;}
#content { 
    padding:5px; 
    background:#ddd; 
    border-radius:5px;
    border:1px solid #CCC; 
    margin-top:10px; 
    resize:none;
    width: 500px;
    height: 500px;
    background-color: white;
    overflow: auto;
}
#input { 
    border-radius:5px; 
    border:1px solid #ccc;
    margin-top:0px; 
    padding:10px; 
    width:350px;  
}
#status { 
    width:120px; 
    display:block; 
    float:left; 
    margin-top:15px; 
}
.chat-room{
    margin-left: auto; 
    margin-right: auto;
}
h1{
    text-align: center;
}
